<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Main.Properties.Settings.ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=SistemaBD;Persist Security Info=True;User ID=sa;Password=temporal"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
</configuration>