<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.SistemaBDConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=VendaBD;Persist Security Info=True;User ID=sa;Password=temporal"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>